@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-heading: 'Plus Jakarta Sans', sans-serif;
    --font-mono: 'Geist Mono', monospace;

    --color-slate-dark: #2d3142;
    --color-silver-gray: #bfc0c0;
    --color-pure-white: #ffffff;
    --color-coral-orange: #ef8354;
    --color-steel-blue: #4f5d75;
}
